@using IMSv1.Extensions
@using IMSv1.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model List<IMSv1.Models.Transaction>

@{
    ViewBag.Title = "Satışlar";
    Layout = "_Layout";
    ViewData["transactions_active"] = "active";
    var counter = 1;
    var userId = HttpContextAccessor.HttpContext.GetUserId();
}

<div style="float: right">
    <a class="btn btn-danger disabled" 
           asp-action="PostReturn">&CircleMinus; Vozvrat</a>
    <a class="btn btn-success" 
       asp-action="PostTransaction">&CirclePlus; Yeni Satış</a>
</div>
<h2>Satışlar</h2>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Kimə</th>
        <th scope="col">Kimdən</th>
        <th scope="col">Yekun məbləğ</th>
        <th scope="col">Tarix</th>
        <th scope="col">Haqqında</th>
        <th scope="col">Əməliyyat</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var t in Model)
    {
        <tr>
            <th>@counter</th>
            <td>@t.To.Name</td>
            <td>@t.From.Name</td>
            <td>@t.TotalAmount &#8380;</td>
            <td>@t.Date.ToString("dd MMM yyyy")</td>
            <td>@t.Description</td>
            <td><a asp-action="GetTransaction" asp-route-tId="@t.Id">Ətraflı >></a></td>
        </tr>
        counter++;
    }
    </tbody>
</table>