@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using IMSv1.Models
@using IMSv1.Models.Dtos
@model IMSv1.Models.Dtos.NSTransactionDto

@{
    ViewBag.Title = "Yeni Satış";
    Layout = "_Layout";

    ViewData["transactions_active"] = "active";
    var users = ViewData["users"] as List<ClientDto>;
    var products = ViewData["products"] as List<Product>;
}

<h2>Vozvrat</h2>

<form method="post" asp-action="PostReturn"
      onsubmit="return confirm('Əməliyyatı həyata keçirmək istədiyinizə əminsinizmi?')">
    <input type="hidden" asp-for="Type" value="return">
    <div class="row">
        <div class="col-6">
            <h3>Detallar</h3>
            <div class="form-group">
                <label for="desc">Geri qayıtma haqqında</label>
                <input id="desc" asp-for="Description" class="form-control"
                       value="@("Vozvrat " + DateTime.Now.ToString("dd MMM yyyy"))">
            </div>
            <div class="form-group">
                <label for="client_vozvrat">Müştəri</label>
                <select id="client_vozvrat" asp-for="ClientId" class="form-control">
                    <option value="0">Seçin</option>
                    @if (users != null)
                    {
                        @foreach (var u in users)
                        {
                            <option value="@u.Id">@u.Name</option>
                        }
                    }
                </select>
            </div>
            <hr>
            <input type="submit" value="&#10004; Təstiqlə" class="btn btn-primary">
        </div>
        <div class="col-6">
            <h3>Geri qaytarılan məhsullar</h3>
            <div id="productsList">
                <div id="productCard">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-header">
                            <h5 style="display: inline">Məhsul</h5>
                            <button type="button" id="delete_btn" class="close" onclick="deleteCard(0)">&times;</button>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <select id="productId" asp-for="Content[0].ProductId" class="form-control" data-number="0">
                                    <option value="0">Məhsul seçin</option>
                                    @if (products != null)
                                    {
                                        @foreach (var p in products)
                                        {
                                            <option value="@p.Id" data-price="@p.SalePrice">@p.Name - @p.Packaging - (@p.SalePrice &#8380;) @p.StockCount ədəd</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="productCount">Sayı</label>
                                    <input id="productCount" type="number" class="form-control"
                                           asp-for="Content[0].Count">
                                </div>
                                <div class="form-group col-6">
                                    <label for="productPrice">Qiymət</label>
                                    <input id="productPrice" step="any" type="number" class="form-control"
                                           asp-for="Content[0].SalePrice">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button onclick="newProduct(1)" class="btn btn-secondary" style="margin-top: 10px; width: 100%;"
                    type="button" id="newProductBtn">&plus; Yeni Məhsul</button>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/sale.js"></script>
}
